@import "mixins/index";

/*公共部分*/
* {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/*头部*/
.head {
  font-size: 12px;
  width: 100%;
  height: 32px;
  background: #f4f4f4;

  .container {
    width: 1150px;
    height: 30px;
    margin: auto;
    position: relative;

    .u1 {
      width: 350px;
      height: 32px;
      float: left;

      //隐藏框1
      #u1_a {
        width: 160px;
        height: 165px;
        cursor: pointer;
        padding: 20px 0 20px 20px;
        background-color: #f4f4f4;
        position: absolute;
        top: 32px;
        left: 0px;
        z-index: 100;
        display: none;

        li {
          width: 160px;
          clear: both;
          text-align: left;

          a {
            color: #9196a0;
            font-size: 14px;
            cursor: pointer;
          }
        }
      }

      li {
        float: left;
        height: 32px;
        line-height: 32px;
        text-align: center;
        padding: 0 5px;

        span.sh {
          width: 20px;
          height: 15px;
          float: left;
          background: url(../images/index-images/head.png)no-repeat -18px -85px;
          margin-top: 8px
        }

        span.zp {
          width: 20px;
          height: 20px;
          float: left;
          background: url(../images/index-images/head.png)no-repeat -104px -19px;
          margin: 5px 2px 5px 20px;
        }
      }
    }

    .u2 {
      width: 800px;
      height: 30px;
      float: left;

      .u2_hover:hover {
        background: #EAECEB;
      }

      li {
        float: right;
        height: 32px;
        line-height: 32px;
        padding-right: 10px;
        text-align: center;

        .dd {
          @include img;
          float: left;
          background: url(../images/index-images/head.png)no-repeat 4px -86px;
          margin: 8px 3px 7px 0;
        }

        .xj {
          @include img;
          float: right;
          background: url(../images/index-images/head.png)no-repeat -62px -78px;
          margin: 5px 10px 10px 0;
        }

        .ax {
          @include img;
          float: left;
          background: url(../images/index-images/head.png)no-repeat -107px -42px;
          margin: 8px 3px 7px 0;
        }

        .xx {
          @include img;
          width: 16px;
          float: left;
          background: url(../images/index-images/head.png)no-repeat -107px -63px;
          margin: 8px 3px 7px 0;
        }

        .gz {
          @include img;
          float: left;
          background: url(../images/index-images/head.png)no-repeat 0px -62px;
          margin: 8px 3px 7px 0;
        }

        .sj {
          @include img;
          float: left;
          background: url(../images/index-images/head.png)no-repeat 4px -108px;
          margin: 8px 3px 7px 0;
        }

        //隐藏框2
        #u2_kh {
          margin-left: 1px;
          width: 88px;
          position: absolute;
          top: 32px;
          background-color: #eaeceb;
          z-index: 100;
          display: none;

          li {
            float: none;
            padding: 0;
            width: 88px;
            height: 33px;
            border-top: 1px solid #c9c9c9;
            box-sizing: border-box;
            line-height: 33px;
            text-align: center;

            a {
              color: #8e8e8e;
            }
          }
        }

        //隐藏框3
        #box1 {
          @include hide;
        }

        //隐藏框4
        #box2 {
          @include hide;
        }
      }

      a {
        color: #8e8e8e;
      }

      span.one {
        @include one;
      }
    }
  }
}

/*头部结束*/

/*导航栏，搜素框部分*/
.nav {
  width: 100%;
  height: 130px;

  .nav-one {
    width: 1150px;
    height: 90px;
    margin: 0 auto;

    //logo部分
    .logo {
      width: 182px;
      height: 53px;
      background: url("../images/index-images/logo.png")no-repeat;
      margin-top: 30px;
      left: 43%;
      position: absolute;
    }

    //第一个列表部分
    .nav-one-list {
      vertical-align: top;
      padding-top: 45px;
      float: left;

      li {
        float: left;
        padding: 8px 22px 5px;
        text-align: center;

        .name-cn {
          @include name;

          a {
            font-size: 16px;
            line-height: 14px;
            color: #000;
          }
        }

        .name-en {
          @include name;

          a {
            font-size: 12px;
            line-height: 14px;
            color: #8e8e8e;
          }
        }
      }

      //选中的状态
      li.avtive {
        background: #3a3a3a;

        a {
          color: #fff;
        }
      }
    }

    .nav-container {
      float: right;
      width: 378px;
      height: 50px;
      padding-right: 18px;
      margin-top: 40px;

      //搜索框
      .serach {
        width: 318px;
        float: left;
        position: relative;

        //自动提示框
        #suggestion {
          width: 316px;
          position: absolute;
          background: white;
          border-top: none;
          display: none;
          border: 1px solid #3a3a3a;

          li {
            height: 30px;
            line-height: 30px;
            padding: 0px 5px;
            font-size: 12px;
          }
        }

        //输入框
        #serach_from {
          width: 240px;
          height: 28px;
          background: #fff;
          box-sizing: border-box;
          padding-left: 10px;
          outline: none;
          border: 1px solid #3a3a3a;
        }

        //搜索按钮
        .search-btn {
          width: 78px;
          height: 28px;
          float: right;
          border: none;
          cursor: pointer;
          text-align: center;
          line-height: 28px;
          background-color: #3a3a3a;
        }

        //热搜
        .serach_hot {
          width: 320px;
          height: 16px;
          overflow: hidden;

          li {
            width: 50px;
            height: 16px;
            line-height: 16px;
            float: left;

            .ser_val {
              font-size: 12px;
              color: #b0b0b0;
              cursor: pointer;

              &:hover {
                color: #d0021b;
              }
            }
          }
        }
      }

      //购物车
      .cart {
        width: 30px;
        height: 30px;
        float: right;
        cursor: pointer;
        position: relative;
      }

      //隐藏购物车框
      .cart-hide {
        position: absolute;
        top: 30px;
        right: -14px;
        width: 378px;
        z-index: 1000;
        background: #f8f8f8;
        display: none;

        .empty-cart {
          padding: 280px 0 200px;
          text-align: center;
          background: url(../images/index-images/bigshop.png)no-repeat 106px 132px;

          h3 {
            font-size: 16px;
            font-weight: normal;
          }
        }
      }

    }

  }

  //导航栏部分
  .nav-two {
    height: 40px;
    background: #3a3a3a;
    clear: both;

    .nav-two-content {
      width: 1150px;
      height: 40px;
      margin: 0 auto;

      .nav01 li {
        line-height: 40px;
        padding-right: 46px;
        box-sizing: border-box;
        margin-right: 36px;
        display: inline-block;

        a {
          color: #fff;
          font-size: 14px;
          line-height: 16px;
          display: inline-block;

          &:hover {
            border-bottom: 2px solid #fff;
          }
        }
      }
    }
  }
}

//轮播图
.scrollImg {
  clear: both;
  width: 1150px;
  margin: 10px auto;

  .banner {
    position: relative;

    //箭头调整
    span {
      font-size: 32px;
      color: #59585a;
    }

    .contain-bg {
      width: 1150px;
      height: 450px;
      overflow: hidden;
      position: relative;

      #banner_bg {
        width: 10350px;
        height: 450px;
        position: absolute;

        li {
          width: 1150px;
          height: 450px;
          float: left;
        }
      }
    }

    #banner_sm {
      margin-top: 5px;

      li {
        width: 138px;
        height: 54px;
        float: left;
        margin-left: 6px;
        opacity: 0.6;
      }

      .active {
        opacity: 1;
      }
    }

    //右箭头
    #rightBtn {
      @include jt;
      top: 195px;
      right: 0px;
    }

    #leftBtn {
      @include jt;
      top: 195px;
      left: 0px;
    }
  }
}

//第一部分完成

//第二部分
.body {
  width: 1150px;
  margin: auto;

  .body-one {
    overflow: hidden;
    margin-left: -8px;

    .body-title-top {
      @include body_title;

      .clear {
        @include clearfloat;
      }
    }

    ul {
      li {
        margin-left: 8px;
        margin-bottom: 8px;
        float: left;

        a {
          width: 185px;
          height: 248px;
          position: relative;
          display: block;
          overflow: hidden;
          background: #9196a0;
        }

        .impo1 {
          width: 378px;
        }
      }
    }
  }

  //广告
  .body-ad {
    width: 1150px;
    height: 129px;

    a {
      height: 129px;
      width: 1150px;
      display: block;
    }
  }

  .body-two {
    .body-title-top {
      @include body_title;
    }

    //小轮播图
    .swiper-container {
      height: 175px;

      //按钮
      #s_btn1 {
        @include small_Btn;
      }

      #s_btn2 {
        @include small_Btn;
      }

      &:hover {
        #s_btn1 {
          display: block;
        }

        #s_btn2 {
          display: block;
        }
      }

      ul {
        li {
          width: 378px;
          height: 175px;
          float: left;
          margin-right: 8px;
          background: #8e8e8e;

          &:hover {
            img {
              opacity: 1;
            }
          }

          img {
            opacity: 0.8;
          }
        }
      }
    }

    //ajax动态请求图片
    .lodo-brand {
      height: 285px;
      overflow: hidden;

      ul {
        width: 1159px;
        height: 285px;

        li {
          float: left;
          margin: 8px 8px 0 0;
          width: 184px;
          height: 86px;
          line-height: 86px;

          img {
            width: 185px;
            height: 86px;
            display: block;
            opacity: 1;
            border: 1px solid #666;

            &:hover {
              opacity: 0.8;
            }
          }
        }
      }
    }

  }

  //新品上架部分
  .body-xp {
    overflow: hidden;

    .body-title-top {
      @include body_title;
    }

    width:1160px;
    height: 2600px;

    .goodinfo {
      float: left;
      margin-right: 10px;
      width: 222px;
      height: 408px;

      .tag {
        font-size: 12px;
        height: 22px;
        line-height: 22px;
      }

      .goodimg {
        img {
          display: block;
          float: left;
          height: 298px;
          width: 222px;
          border: 1px solid #666;
        }
      }

      .goodtext {
        text-align: center;

        a {
          line-height: 1;
          color: #666;

          &:hover {
            color: red;
          }
        }

        .price {
          margin-top: 5px;
          line-height: 22px;
          color: #000;
        }
      }

    }
  }

  //查看更多
  .more {
    width: 100%;
    text-align: center;
    padding-top: 40px;

    a {
      display: block;
      height: 35px;
      width: 120px;
      margin: 0 auto 40px;
      background-color: #000;
      color: #fff;
      font-size: 14px;
      line-height: 35px;
      text-align: center;
    }
  }

}

//第三部分
.foot {
  width: 100%;
  background: #000;

  .foot-container {
    width: 1150px;
    height: 400px;
    overflow: hidden;
    margin: auto;
    font-size: 12px;

    //尾部第一部分
    .foot-one {
      height: 34px;
      padding: 20px 0 10px;

      .one-content {
        height: 34px;

        .left {
          margin-right: 60px;
          line-height: 30px;
          font-size: 12px;
          font-weight: 700;
          float: left;

          .rgb1 {
            width: 27px;
            height: 30px;
            color: white;
            display: inline-block;
            font-size: 27px;
            font-weight: 400;
            vertical-align: middle;
            margin-right: 5px;
          }

          .red {
            color: #e01;
          }

          .rgb2 {
            color: #fff;
          }

        }

        .right {
          width: 240px;
          border: 1px solid #262626;
          float: right;

          input {
            width: 180px;
            height: 32px;
            padding: 0 10px;
            line-height: 32px;
            border: none;
            color: #666;
            outline: none;
            background: #000;
          }

          .yx {
            display: block;
            float: right;
            margin-right: 20px;
            font-size: 20px;
            line-height: 28px;
            color: #fff;
            opacity: 0.5;
          }
        }
      }
    }

    //尾部第二部分
    .foot-two {
      width: 1150px;
      height: 151px;
      padding: 15px 0;
      overflow: hidden;
      border-top: 1px solid #262626;

      .two-content {
        height: 120px;

        ul {
          width: 110%;

          li {
            width: 180px;
            height: 120px;
            float: left;

            p {
              line-height: 24px;

              span {
                color: #fff;
              }

              a {
                color: #666;
              }
            }
          }
        }
      }
    }

    //尾部第三部分
    .foot-there {
      width: 1150px;
      height: 80px;
      border-bottom: 1px solid #262626;
      // background: #e01;
      padding: 10px 0 14px;

      .there-content {
        height: 80px;

        //上部分
        .top {
          height: 40px;
          line-height: 20px;
          color: #666;
          overflow: hidden;

          .top-left {
            width: 218px;
            height: 40px;
            margin-top: 3px;
            float: left;

            img {
              margin-right: 4px;
            }
          }

          .top-right {
            width: 920px;
            height: 40px;
            float: right;

            a {
              color: #666;
            }

            span {
              padding: 0 10px;
            }

            .police {
              background: url("../images/index-images/f4.png")no-repeat;
              height: 20px;
              display: inline-block;
              padding-left: 25px;
            }
          }
        }

        //下部分
        .bottom {
          text-align: center;
          color: #666;
          padding-top: 20px;
          line-height: 20px;
        }
      }
    }

    //尾部第四部分
    .foot-four {
      clear: both;
      height: 33px;
      padding-top: 15px;
      overflow: hidden;

      .four-left {
        width: 60px;
        height: 33px;
        color: #fff;
        letter-spacing: 0;
        float: left;
      }

      .four-right {
        position: relative;
        float: left;
        width: 1090px;

        .clearfix {
          li {
            margin-left: 22px;
            height: 48px;
            float: left;

            a {
              color: #666;
            }
          }
        }
      }
    }
  }
}

//固定定位元素
.fix1 {
  position: fixed;
  top: 260px;
  right: 20px;
  width: 117px;
  padding-top: 20px;
  border: none;
  background-color: transparent;
  z-index: 990;
  display: block;

  .img {
    width: 116px;
    height: 116px;
    background-image: url(../images/index-images/ewm.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  h5 {
    color: #000;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    text-align: center;
  }

  i {
    position: absolute;
    top: -13px;
    right: -10px;
    display: inline-block;
    font-size: 30px;
    cursor: pointer;
  }
}

.fix2 {
  position: fixed;
  width: 60px;
  height: 140px;
  bottom: 20px;
  right: 138px;
  z-index: 4;
  display: none;

  //隐藏框
  #box-hide {
    width: 250px;
    height: 200px;
    position: absolute;
    top: -35px;
    z-index: 1000;
    right: 62px;
    display: none;

    .one {
      @include hide;
      display: block;
      top: 0px;
    }

    .two {
      @include hide;
      display: block;
      top: 0px;
      left: 122px;
    }
  }

  .box1-one {
    @include fix;

    span {
      font-size: 40px;
      display: inline-block;
    }
  }

  .box2 {
    @include fix;
    margin-top: 20px;

    span {
      font-size: 20px;
      display: inline-block;
    }
  }
}