//多个Li的右边框
@mixin one {
    width: 0;
    margin-top: 11px;
    margin-right: 12px;
    height: 14px;
    float: left;
    border-left: 1px solid #dcdcdc;
}

//头部小图标
@mixin img {
    width: 15px;
    height: 15px;
}

//头部隐藏框
@mixin hide {
    display: none;
    width: 146px;
    height: 137px;
    padding: 20px 0 14px;
    top: 32px;
    background-color: #f4f4f4;
    border: none;
    z-index: 1000;
    position: absolute;
    margin-left: -26px;

    img {
        margin-left: 25px;
        width: 96px;
        height: 96px;
        display: block;
    }

    h5 {
        height: 18px;
        line-height: 18px;
        font-size: 12px;
        text-align: center;
        color: black;
        margin-top: 2px;
    }
}

//导航栏搜索框
//第一个列表
@mixin name {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

//轮播图左右箭头
@mixin jt {
    width: 60px;
    height: 60px;
    position: absolute;
    line-height: 56px;
    text-align: center;
    z-index: 2;
    background: #fff;
    opacity: 0.55;
}

//固定定位元素
@mixin fix {
    width: 60px;
    height: 60px;
    background: #000000;
    opacity: 0.5;
    color: #fff;
    text-align: center;
    line-height: 60px;
}

//清除浮动
@mixin clearfloat {
    content: "";
    width: 0px;
    height: 0px;
    display: block;
    overflow: hidden;
    clear: both;
}

//标题
@mixin body_title {
    position: relative;
    margin: 80px 0 40px;

    .floor-title {
        margin: 0 auto;
        width: 298px;
        height: 31px;
        line-height: 31px;
        border: 1px solid #000;
        font-size: 16px;
        text-align: center;
    }
}
//小轮播图左右箭头
@mixin small_Btn {
    outline: none;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #fff;
    opacity: 0.55;
    text-align: center;
    display: none;
    color: #666;
    &:hover{
        opacity: 1;
    }
}